.login-form {
  // background-color: white;
  height: 80vh;
  display: flex;
  align-items: center;
  .form_main {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: relative;
    overflow: hidden;
    margin: 100px auto;
    border-radius: 15px;
  }

  .form_main::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    background-color: var(--gray);
    transform: rotate(45deg);
    left: -50%;
    bottom: 30px;
    z-index: 1;
    border-radius: 30px;
  }

  .heading {
    font-size: 2em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 5px 0 10px 0;
    z-index: 2;
  }

  .inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .inputIcon {
    position: absolute;
    left: 3px;
  }

  .inputField {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: black;
    font-size: 0.8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
  }

  .inputField:focus {
    outline: none;
    border-bottom: 2px solid var(--gold);
  }

  .inputField::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
  }

  #button {
    z-index: 2;
    position: relative;
    width: 100%;
    border: none;
    background-color: var(--gold);
    height: 30px;
    color: white;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
  }

  #button:hover {
    background-color: var(--gold);
  }

  .forgotLink {
    z-index: 2;
    font-size: 0.7em;
    font-weight: 500;
    color: var(--gold);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
  }

  a {
    position: relative;
    z-index: 3;
    text-align: center;
    background-color: var(--gold);
    text-decoration: none;
    padding: 5px 25px;
    color: white;
  }
}
