@import "../helpers/mixins";
.landing {
  padding: 0;
  width: 100%;
  position: relative;
  background: rgb(84, 95, 96);
  background: linear-gradient(
    0deg,
    rgba(84, 95, 96, 1) 0%,
    rgba(0, 0, 0, 1) 94%
  );
  .contain {
    width: 100%;
    position: absolute;
    height: 100%;
  }
  .container {
    gap: 30px;
    margin: 0 auto;
    z-index: 100;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    align-items: center;
    h1 {
      color: #0fb4ff;
      font-weight: 800;
    }
    p {
      color: #0fb4ff;
      text-align: center;
    }
  }
}
.holder {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.249);
}
.landing .heading {
  font-size: 30px;
}
@media (min-width: 576px) {
  .landing .heading {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .landing .heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .landing .heading {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  .landing .heading {
    font-size: 70px;
  }
}
.supheading {
  font-size: 20px;
}
@media (min-width: 576px) {
  .supheading {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .supheading {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .supheading {
    font-size: 55px;
  }
}
@media (min-width: 1200px) {
  .supheading {
    font-size: 60px;
  }
}
.loading {
  min-height: 30vh;
}
@media (min-width: 576px) {
  .loading {
    min-height: 60vh;
  }
}
@media (min-width: 768px) {
  .loading {
    min-height: 50vh;
  }
}
@media (min-width: 992px) {
  .loading {
    min-height: 50vh;
  }
}
@media (min-width: 1200px) {
  .loading {
    min-height: 50vh;
  }
}
.landing button {
  color: white;
  background-color: #0fb4ff;
  outline: none;
  border: none;
  padding: 10px 14px;
  width: fit-content;
}
@media (min-width: 576px) {
  .landing .button {
    padding: 12px 16px;
  }
}
@media (min-width: 768px) {
  .landing button {
    padding: 14px 18px;
  }
}
@media (min-width: 992px) {
  .landing button {
    padding: 16px 20px;
  }
}
.landing {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .landing {
    margin-top: 0;
  }
}
