.contactUs,
.polises {
  min-height: calc(100vh - 70px);
  background: url("../../assets/contact.webp");
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactUs .layout,
.polises .layout {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 19, 19, 0.8);
  position: absolute;
  z-index: 2;
}
.contactUs .contact,
.polises .contact {
  position: relative;
  z-index: 3;
  color: white;
}
.contactUs .contact h1,
.polises .contact h1 {
  margin: 40px 0;
  text-align: center;
}
.contactUs .contact .contactItem {
  padding: 50px 30px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.contactUs .contact h5 {
  color: rgb(68, 178, 221);
}
@media (max-width: 992px) {
  .contactUs .contact .contactItem {
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 40px;
  }
}
