@import "../helpers/mixins";
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.nav {
  // position: fixed;
  width: 100%;
  top: 0;
  // z-index: 100;
  background-color: white;
  @include media(mopile) {
    background-color: white;
    position: fixed;
    top: 0;
    border-radius: 0% 0% 51% 49% / 10% 10% 24% 32%;
    //  height: 100px;
  }

  .mop-nav {
    display: none;
    @include media(mopile) {
      display: flex;
      width: 90%;
      margin: 0 auto;
      padding: 7px 0;
      justify-content: space-between;
      align-items: center;

      a {
        margin: auto;
      }
      img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
      }
      #checkbox {
        display: none;
      }

      .toggle {
        position: relative;
        width: 40px;
        cursor: pointer;
        margin: auto;
        display: block;
        height: calc(4px * 3 + 11px * 2);
      }

      .bar {
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        width: 35px;
        border-radius: calc(4px / 2);
        background: #7b52b9;
        color: inherit;
        opacity: 1;
        transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
      }

      /***** Tornado Animation *****/

      .bar--top {
        bottom: calc(50% + 11px + 4px / 2);
        transition-property: bottom, transform;
        transition-delay: calc(0s + 0.35s) * 0.6;
      }

      .bar--middle {
        top: calc(50% - 4px / 2);
        transition-property: opacity, transform;
        transition-delay: calc(0s + 0.35s * 0.3);
      }

      .bar--bottom {
        top: calc(50% + 11px + 4px / 2);
        transition-property: top, transform;
        transition-delay: 0s;
      }

      #checkbox:checked + .toggle .bar--top {
        transform: rotate(-135deg);
        transition-delay: 0s;
        bottom: calc(50% - 4px / 2);
      }

      #checkbox:checked + .toggle .bar--middle {
        opacity: 0;
        transform: rotate(-135deg);
        transition-delay: calc(0s + 0.35s * 0.3);
      }

      #checkbox:checked + .toggle .bar--bottom {
        top: calc(50% - 4px / 2);
        transform: rotate(-225deg);
        transition-delay: calc(0s + 0.35s * 0.6);
      }
    }
  }

  .container {
    padding: 10px;

    display: flex;
    position: relative;
    justify-content: space-between;
    min-width: 95%;
    @include media(mopile) {
      background-color: white;
      border-radius: 20px;
      width: 70%;
      padding: 20px;
      position: fixed;
      top: 140px;
      left: -400px;
      transition: 0.3s;
    }
    img {
      width: 50px;
    }
    .list {
      // width: 100%;
      // display: flex;
      gap: 20px;
      text-transform: capitalize;
      // font-weight: 800;
      align-items: center;
      @include media(mopile) {
        flex-direction: column;
      }
    }
    .social {
      display: flex;
      background-color: rgb(255, 255, 255);
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      align-items: center;
      width: 75%;
      justify-content: flex-end;
      display: flex;
      gap: 40px;
      color: black;
      font-size: 20px;

      @include media(mopile) {
        display: none;
      }
      a {
        text-decoration: none;
        transition: 0.2s;
        text-transform: capitalize;
        color: black;
      }
      svg {
        transition: 0.2s;
        &:hover {
          color: blue;
        }
      }
    }
    .login {
      position: relative;
      font-size: 0.8em;
      padding: 8px 16px;
      background-color: var(--my-color);
      text-decoration: none;
      border: none;
      border-radius: 0.5em;
      color: #dedede;
      box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
      z-index: 30;
      // margin-left: 80px;
    }

    .login::before {
      position: absolute;
      content: "";
      height: 0;
      width: 0;
      top: 0;
      left: 0;
      background: linear-gradient(
        135deg,
        rgba(33, 33, 33, 1) 0%,
        rgba(33, 33, 33, 1) 50%,
        var(--my-color),
        rgb(60, 4, 191) 60%
      );
      // border-radius: 0 0 0.5em 0;
      border-radius: 10px;
      box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
      transition: 0.3s;
    }

    .login:hover::before {
      width: 1.6em;
      height: 1.6em;
    }

    .login:active {
      box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
      transform: translate(0.1em, 0.1em);
    }
  }
}

.nav-active {
  @include media(mopile) {
    left: 13% !important;
  }
}

// who we are drop down
.whoWeAre {
  position: relative;
}
.whoWeAre:hover div {
  opacity: 1;
}
.whoWeAre div {
  opacity: 0;
  transition: 0.5s ease;
  position: absolute;
  display: flex;
  gap: 10px;
  background-color: white;
  left: 0;
  transform: translateX(-50%);
  z-index: 100;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.whoWeAre div a {
  font-size: 16px;
  padding: 8px 16px;
}
