.cart{
    padding: 50px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .producs{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        .pr{
            width: 25%;
            border-radius: 10px;
            overflow: hidden;
            background-color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .title{
                text-transform: capitalize;
            }
            span{
                background-color: red;
                color: white;
                cursor: pointer;
                transition: 0.2s;
                &:hover{
                    background-color: rgb(82, 16, 16);
                }
            }
            img{
                max-width: 100%;
                min-width: 100%;
                max-height: 120px;
                min-height: 120px;
            }
            
        }
    }
    .check{
        background-color: white;
        padding: 10px;
        width: 100%;
        border-radius: 10px;
        label{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        button{
            background-color: var(--my-color);
            color: white;
            border: none;
            padding: 5px;
            width: 120px;
        }
        }
    }
}