.analytec {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
  .carousel {
    width: 90% !important;
    border-radius: 10px;
    margin: 20px auto;
    img {
      width: 100% !important;
    }
  }
}
