.lives {
  width: 100%;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .carousel {
    border-radius: 10px;
    margin: 20px auto;
    img {
      width: 100% !important;
    }
  }
  .react-calendar {
    border-radius: 10px;
    width: 90% !important;
    margin: 0 auto;
  }
  .live {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px;
    width: 90%;
    margin: 0 auto;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .head {
      display: flex;
      justify-content: space-between;
      .course {
        margin: 40px 10px;
        padding: 5px 10px;
        background-color: var(--gold);
        display: block;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
      span {
        display: block;
        padding: 10px;
        width: fit-content;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.2s;
      }
      .styled {
        background-color: var(--gold);
        color: white;
        margin: 0 10px;
        padding: 10px 20px;
      }
    }
    .second {
      display: flex;
      justify-content: space-evenly;
      background-color: rgb(29, 23, 23);
      color: white;
      padding: 10px;
      border-radius: 10px;
    }

    .prevent-life {
      background-color: var(--gray);
      padding: 10px;
      color: black;
      border-radius: 10px;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
    }
  }
}
