.packages{
    padding: 50px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .card {
        width: 70%;
        height: 254px;
        background: lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
       flex-direction: column;
       gap: 10px;
        color: #333;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 40px;
        cursor: pointer;
        position: relative;
        transition: all 0.7s ease-in-out;
        margin:0 auto;
        overflow: hidden;
        h3{
            z-index: 3;
        }
        div{
            z-index: 4;
        }
        .foot{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        .buy{
            background-color: var(--my-color);
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
      }
      
      .card::before {
        content: "";
        position: absolute;
        height: 40%;
        width: 100%;
        background-color: #088080;
        bottom: 0;
        right: 0;
        transform: translatey(70px);
        border-radius: 100%;
        transition: all 0.7s ease-in-out;
        z-index: 0;
      }
      
      .c-txt {
        z-index: 2;
      }
      
      .card:hover::before {
        transform: scale(7) translate(-20px);
      }
      
      .card:hover {
        box-shadow: 1px -10px 500px 500px #9fe4e44a;
        color: #f3f3f3;
      }
      
}