.home-for-login {
  padding: 50px 0;
  margin: 20px 0;
  .carousel {
    width: 90% !important;
    border-radius: 10px;
    margin: 20px auto;
    img {
      width: 100% !important;
      height: 150px !important;
    }
  }
  .second {
    display: flex;
    justify-content: center;
    gap: 20px;
    .left {
      width: 65%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .right {
      width: 25%;
      display: flex;
      flex-direction: column;
      box-shadow: 1px 1px 10px;
      border-radius: 10px;
      padding: 10px;
      background-color: white;
      h2 {
        background-color: rgb(202, 196, 196);
        // width: 100%;
        border-radius: 15px;
        text-align: center;
        padding: 5px 0 !important;
      }
      .add {
        width: 85%;

        margin: 10px auto !important;
        padding: 5px;
        border: 1px solid;
        border-radius: 10px;
        margin: auto;
        .tit {
          text-align: center;
          text-transform: capitalize;
          padding: 5px 0;
        }
        img {
          min-height: 220px;
          max-height: 220px;
          min-width: 100%;
          max-width: 100%;
          border-radius: 5px;
        }
      }
    }
  }
}
.date {
  color: var(--gray);
  margin: 5px;
}
.comment {
  padding: 10px 0;
  border-top: 1px solid var(--gray);
  .content {
    background-color: #d9dde0;
    color: black;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .imgg {
    height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px 0 !important;
  }
  margin: 10px;
}
.commentControl {
  width: fit-content;
  width: 100px;
  padding: 10px 0;
  background-color: var(--gold);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 20px 20px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.comments-emo {
  color: var(--gray);
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.reacts div {
  padding: 8px 30px;
  border: 1px solid gray;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.reacts div:nth-child(1):hover {
  border: none;
  background-color: #129ef7;
}
.reacts div:nth-child(2):hover {
  border: none;

  background-color: #ec2549;
}
.reacts div:nth-child(3):hover {
  border: none;
  background-color: var(--gold);
}
.reacts div:nth-child(1).active {
  border: none;
  background-color: #129ef7;
}
.reacts div:nth-child(2).active {
  border: none;

  background-color: #ec2549;
}
.reacts div:nth-child(3).active {
  border: none;
  background-color: var(--gold);
}
.post {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(255, 255, 255);
  .post-head {
    padding: 20px;
  }
  button {
    width: 100px;
  }
  .details {
    width: fit-content;
    color: black;
    text-transform: capitalize;
    border-radius: 10px;
  }
  .mainImg {
    width: 100%;
    margin: 0 auto;
  }
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 0 10px;
    input {
      width: 100%;
      padding: 10px;
      border-radius: 20px;
      border: none;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
    .file-input-wrapper {
      position: relative;
      display: inline-block;
      white-space: nowrap;
      padding: 0;
    }

    #file-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    .custom-file-button {
      display: block;
      padding: 5px;
      font-size: 11px;
      text-align: center;
      text-transform: capitalize;
      margin: auto;
      color: #fff;
      background-color: var(--gold);
      border-radius: 0.25rem;
      cursor: pointer;
    }
    button {
      display: block;
      background-color: var(--gold);
      color: white;
      text-transform: capitalize;
      border: none;
      cursor: pointer;
    }
  }
}
.analytec .post {
  width: 70%;
  margin: auto;
}
@media (max-width: 700px) {
  .second {
    flex-direction: column-reverse;
  }
  .left {
    width: 100% !important;
  }
  .right {
    width: 90% !important;
    margin: auto;
  }
}
