.home-for-login{
    padding: 50px 0;
.carousel{
    width: 90% !important;
    border-radius: 10px;
    margin: 20px auto;
    img{
         width: 100% !important;
         height: 150px !important;
    }
}
.second{
    display: flex;
    justify-content: center;
    gap: 20px;
    .left{
        width: 65%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .post{
            width: 90%;
            margin: auto;
            padding: 15px;
            
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: rgb(255, 255, 255);
            button{
                width: 100px;
            }
            .shared{
                background-color: var(--my-color);
                padding: 5px 20px;
                color: white;
                text-transform: capitalize;
                border-radius: 10px;
            }
            img{
                max-width: 80%;
                min-width: 80%;
                min-height: 300px;
                max-height: 300px;
                margin: 0 auto;
                border-radius: 10px;
            }
            label{
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 15px;
                align-items: center;
                input{
                    width: 60%;
                    padding: 0 10px;
                    border-radius: 5px;
                    border: none;
                    box-shadow: 1px 1px 5px;
                }
                .file-input-wrapper {
                    position: relative;
                    display: inline-block;
               
                    padding: 0;
                  }
                  
                  #file-input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                  }
                  
                  .custom-file-button {
                    display: inline-block;
                    padding:5px;
                    font-size: 11px;
                    text-align: center;
                    text-transform: capitalize;
                    margin: auto;
                    color: #fff;
                    background-color: #007bff;
                    border-radius: 0.25rem;
                    cursor: pointer;
                  }
                button{
                    background-color: var(--my-color);
                    color: white;
                    text-transform: capitalize;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
    .right{
        width: 25%;
        display: flex;
        flex-direction: column;
       box-shadow: 1px 1px 10px;
       border-radius: 10px;
        padding: 10px;
        background-color: white;
        h2{
background-color: rgb(202, 196, 196);
// width: 100%;
border-radius: 15px;
text-align: center;
padding: 5px 0 !important;
        }
        .add{
            width: 85%;
          
            margin: 10px auto !important;
            padding: 5px;
            border: 1px solid;
            border-radius: 10px;
            margin: auto;
            .tit{
                text-align: center;
                text-transform: capitalize;
                padding: 5px 0;
            }
            img{
                min-height: 220px;
                max-height: 220px;
                min-width: 100%;
                max-width: 100%;
                border-radius: 5px;
                
            }
        }
    }
}
}
.comment{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 7px;
    text-transform: capitalize;
    margin-top: 10px;
    width: 100%;
    img{
        max-width: 350px;
        min-width: 350px;
        min-height: 350px;
        max-height: 350px;
        margin:15px 25%;
        border-radius: 10px;
    }
}