.profile {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile .my-prods {
  background-color: white;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  flex-direction: column;
  box-shadow: 1px 1px 10px;
  text-align: center;
  text-transform: capitalize;
}
.profile .my-prods .paid-products {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.profile .my-prods .paid-products .pr {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(255, 254, 254);
  box-shadow: 1px 1px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 10px;
}
.profile .my-prods .paid-products .pr .title {
  text-transform: capitalize;
}
.profile .my-prods .paid-products .pr img {
  max-width: 100%;
}
.profile .my-prods .paid-products .pr .cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  width: 75%;
  font-size: 14px;
  padding: 9px;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(77, 54, 208) 0%, rgb(132, 116, 254) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em rgba(77, 54, 208, 0.7450980392);
  letter-spacing: 0.05em;
  border-radius: 20em;
  margin: auto auto 0;
}
.profile .my-prods .paid-products .pr .cssbuttons-io-button svg {
  margin-right: 8px;
}
.profile .my-prods .paid-products .pr .cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgba(77, 54, 208, 0.7450980392);
}
.profile .my-prods .paid-products .pr .cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em rgba(77, 54, 208, 0.7450980392);
}
.profile .top,
.profile .packs {
  background-color: white;
  padding: 15px;
  width: 100%;
  margin: auto;
  border-radius: 7px;
  box-shadow: 1px 1px 10px;
}
.profile .top .links,
.profile .packs .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.profile .top .links a,
.profile .packs .links a {
  text-transform: capitalize;
  background-color: var(--my-color);
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 90%;
  padding: 10px;
}
.profile .top .img img,
.profile .packs .img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile .top .info,
.profile .packs .info {
  text-align: center;
  text-transform: capitalize;
}
.profile .top .info div,
.profile .packs .info div {
  margin-top: 12px;
}
.profile .packs {
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.profile .packs .pack {
  position: relative;
  width: 15%;
  border: 1px solid;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
.profile .packs .pack e img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.telegramBot {
  color: white;
  padding: 15px;
  width: 50%;
  display: block;
  text-align: center;
  margin: auto;
  background-color: var(--gold);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.telegramBot:hover {
  text-decoration: none;
  color: black;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}/*# sourceMappingURL=profile.css.map */