.profile{
    padding: 50px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .my-prods{
        background-color: white;
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 7px;
        flex-direction: column;
        box-shadow: 1px 1px 10px;
        text-align: center;
        text-transform: capitalize;
        .paid-products{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
            .pr{
                width: 25%;
                border-radius: 10px;
                overflow: hidden;
                background-color: rgb(255, 254, 254);
                box-shadow: 1px 1px 5px;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding-bottom: 10px;
                .title{
                    text-transform: capitalize;
                }
            
                img{
                    max-width: 100%;
                    min-width: 100%;
                    max-height: 120px;
                    min-height: 120px;
                }
                .cssbuttons-io-button {
                    display: flex;
                    align-items: center;
                    font-family: inherit;
                    font-weight: 500;
                    width: 75%;
                    font-size: 14px;
                    padding: 9px;
                    color: white;
                    background: #ad5389;
                    background: linear-gradient(0deg, rgba(77,54,208,1) 0%, rgba(132,116,254,1) 100%);
                    border: none;
                    box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
                    letter-spacing: 0.05em;
                    border-radius: 20em;
                    margin: 0 auto;
                  }
                  
                  .cssbuttons-io-button svg {
                    margin-right: 8px;
                  }
                  
                  .cssbuttons-io-button:hover {
                    box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
                  }
                  
                  .cssbuttons-io-button:active {
                    box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
                  }
            }
        }
    }
    .top,.packs{
        background-color: white;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        border-radius: 7px;
        align-items: center;
        box-shadow: 1px 1px 10px;
        .links{
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
            a{
                text-transform: capitalize;
                background-color: var(--my-color);
                padding: 5px 10px;
                color: white;
                border-radius: 5px;
                text-decoration: none ;
            }
        }
        .img{
            width: 25%;
          
            img{
                max-width: 35%;
                min-width: 35%;
                max-height: 100px;
                min-height: 100px;
                border-radius: 50%;
            }
        }
        .info{
            text-align: center;
            text-transform: capitalize;
            div{
                margin-top: 12px;
            }
        }
    }
    .packs{
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        .pack{
            position: relative;
            width: 15%;
            border: 1px solid;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            overflow: hidden;e
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 0;
            }
        }
    }
}