.store{
    width: 100%;
    padding: 50px 15px ;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    .cats{
       
        width: 100%;
 
          
        .wrapper {
            --font-color-dark: #323232;
            --font-color-light: #FFF;
            --bg-color: #fff;
            --main-color: #323232;
            position: relative;
            width: 100%;
            overflow: hidden;
            padding: 5px 10px;
            background-color: var(--bg-color);
            border: 2px solid var(--main-color);
            border-radius: 34px;
            align-items: center;
            display: flex;
            gap: 15px;
            flex-direction: row;
            box-shadow: 4px 4px var(--main-color);
           flex-wrap: wrap;
           text-transform: capitalize;
          }
          
          .option {
            width: fit-content;
            height: 28px;
            position: relative;
            top: 2px;
            left: 2px;
          }
          
          .input {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            appearance: none;
            cursor: pointer;
          }
          
          .btn {
            width: 100%;
            height: 100%;
            background-color: var(--bg-color);
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .span {
            color: var(--font-color-dark);
          }
          
          .input:checked + .btn {
            background-color: var(--main-color);
          }
          
          .input:checked + .btn .span {
            color: var(--font-color-light);
          }
    }
    .products{
        display: flex;
        min-height: 40vh;
        width: 100%;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        position: relative;
        .card {
            width: 190px;
            height: 254px;
            padding: .8em;
            background: #f5f5f5;
            position: relative;
            overflow: visible;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
           }
           
           .card-img {
            background-color: #ffcaa6;
            height: 40%;
            width: 100%;
            border-radius: .5rem;
            transition: .3s ease;
            overflow: hidden;
            padding: 5px;
            img{
                max-width: 100%;
                min-width: 100%;
                max-height: 100%;
                min-height: 100%;
                border-radius: .5rem;

            }
           }
           
           .card-info {
            padding-top: 10%;
           }
           
           svg {
            width: 20px;
            height: 20px;
           }
           
           .card-footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            border-top: 1px solid #ddd;
            position:absolute;
            bottom: 0;
            left: 0;
           }
           
           /*Text*/
           .text-title {
            font-weight: 900;
            font-size: 1.2em;
            line-height: 1.5;
           }
           
           .text-body {
            font-size: .9em;
            padding-bottom: 10px;
           }
           
           /*Button*/
           .card-button {
            border: 1px solid #252525;
            display: flex;
            padding: .3em;
            cursor: pointer;
            border-radius: 50px;
            transition: .3s ease-in-out;
           }
           
           /*Hover*/
           .card-img:hover {
            transform: translateY(-25%);
            box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
           }
           
           .card-button:hover {
            border: 1px solid #ffcaa6;
            background-color: #ffcaa6;
           }
           
    }
}