:root {
  --gold: #ffcc00;
  --gray: #b6b6b6;
}
.bg-grayy {
  background-color: var(--gray);
}
.color-gold {
  color: var(--gold);
}
.hoverGold {
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}
.hoverGold:hover {
  color: var(--gold);
}
.App {
  overflow-x: hidden;
  min-height: 100vh;
}
body {
  top: 0 !important;
}
.container {
  width: 90%;
  margin: auto;
  max-width: 1400px;
}
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--gold);
  border-radius: 1ex;
}

a {
  text-decoration: none;
  color: inherit;
}
.App .message {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  padding: 15px;
  z-index: 10000;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
.App .done {
  position: fixed;
  transition: 0.2s;
  background-color: rgb(47, 192, 47);
  padding: 20px;
  top: 50%;
  left: 50%;
  color: white;
  border-radius: 50%;
  z-index: 200;
  font-size: 60px;
}

.loader-cont {
  position: fixed;
  z-index: 121212;
  background-color: rgba(226, 226, 226, 0.753);
  width: 100%;
  height: 100%;
}

#wifi-loader {
  --background: #62abff;
  --front-color: #4f29f0;
  --back-color: #c3c8de;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
}

#wifi-loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
  height: 86px;
  width: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
  height: 60px;
  width: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
  height: 34px;
  width: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
  content: attr(data-text);
}

#wifi-loader .text::before {
  color: var(--text-color);
}

#wifi-loader .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}
.skiptranslate {
  height: 0;
  display: none !important;
  color: white;
  max-width: 90px;
  margin-bottom: 5px;
}
.nav .skiptranslate:first-child {
  display: flex !important;
  width: fit-content;
  color: white;
  height: 100%;
}

.skiptranslate span {
  height: 0;
  display: none;
}
.skiptranslate iframe {
}
.goog-te-combo {
  height: 0;
  display: none;
}
.goog-te-combo:first-child {
  display: block;
  padding: 0.2rem 0.75rem;
  background-color: var(--gold);
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  border: none;
  border-radius: 10px;
  outline: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 100%;
  color: black;
}
.secBanar {
  max-width: 100%;
}
.footer a {
  padding: 10px;
}
@media (max-width: 992px) {
  .footer h4 {
    font-size: 14px;
  }
  .footer h4 a {
    padding: 0;
    text-align: center;
    display: block;
  }
}
.footer {
  max-width: 100%;
}
