.login-home,
.courses {
  display: flex;
  background-color: rgb(217, 221, 224);
  .side {
    background-color: var(--gray);
    width: 250px;
    padding: 20px 20px;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    z-index: 100;
    .logo {
      margin: 20px auto;
      position: relative;
      left: 50%;
      width: 150px;
      transform: translateX(-50%);
    }
    .list {
      text-transform: capitalize;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .momo {
        text-decoration: none;
        color: white;
        min-width: 200px;
        font-size: 17px;
        transition: 0.2s;
        padding: 8px 12px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        &:hover {
          background-color: #ffcc00;
          color: black;
        }
        img {
          width: 35px;
        }
      }
      h2 {
        background-color: #ffcc00;
        font-size: 25px;
        padding: 5px 0;
        text-align: center;
        border-radius: 10px;
      }
    }
  }
  .containerr {
    padding: 20px;
    width: 100%;
    .top-nav {
      display: flex;
      justify-content: flex-end;
      gap: 25px;
      width: 100%;
      padding: 11px 30px;
      font-size: 20px;
      align-items: center;
      text-transform: capitalize;
      box-shadow: 1px 1px 10px;
      background-color: white;
      svg {
        font-size: 30px;
      }
      .user {
        display: flex;
        align-items: center;
        gap: 15px;
        button {
          text-transform: capitalize;
        }
      }
      .cart-icon {
        position: relative;
        .num {
          position: absolute;
          background-color: red;
          color: white;
          border-radius: 50%;
          padding: 2px 5px;
          left: 22px;
          top: -2px;
          font-size: 15px;
        }
      }
      span {
        transition: 0.2s;
        padding: 15px;
        border-radius: 50%;
        cursor: pointer;
        overflow:hidden ;
        &:hover {
          background-color: rgb(129, 127, 124);
        }
        img{
          max-width: 35px;
          min-width: 35px;
          border-radius: 20px;
        }
      }
    }
    height: 100vh;
    overflow-y: scroll;
    padding: 0;
  }
}
.closing {
  display: none;
}
@media (max-width: 992px) {
  .sideControler {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .sideControler.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .closing {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: fixed;
    right: 50px;
    top: 50px;
    color: black;
    background-color: var(--gold);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .pc-only {
    display: none !important;
  }
  .mobile-only {
    display: block !important ;
  }
}

@media (min-width: 992px) {
  .mobile-only {
    display: none !important;
  }
}

.logoutDrop {
  background-color: #ffcc00 !important;
  border-radius: 10px;
  box-shadow: 0 0 0 0 !important;
  outline: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
