.login-home,
.courses{
    display: flex;
    background-color: rgb(217, 221, 224);
    .side{
        width: 20%;
        background-color: rgb(64, 64, 65);
        padding: 20px 0;
        height: 100vh;
        overflow-x: hidden;

        img{
            width: 70%;
            margin: 20px auto;
            position: relative;
            left: 50% ;
            height: 100px;
            transform: translateX(-50%);
        }
        .list{
            width: 90%;
            margin-left: 32px;
          
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .momo{
                text-decoration: none;
                color: white;
                min-width: 200px;  
                font-size: 17px;
                transition: 0.2s;
                padding: 8px 12px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                &:hover{
                    background-color: white;
                    color: black;
                }
            }
            h2{
                background-color: white;
                font-size: 25px;
                padding: 5px 0;
                text-align: center;
                border-radius: 10px;
            }
         
        
        }
        
    }
    .container{
        padding: 20px;
        .top-nav{
            display: flex;
            justify-content: flex-end;
            gap: 25px;
            width: 100%;
            padding: 11px 30px;
            font-size: 20px;
            align-items: center;
            text-transform: capitalize;
            box-shadow: 1px 1px 10px ;
            background-color: white;
            svg{
                font-size: 30px;
            }
            .user{
                display: flex;
                align-items: center;
                gap: 15px;
                button{
                    text-transform: capitalize;
                }
            }
            span{
                transition: 0.2s;
                padding: 15px;
                border-radius: 50%;
                cursor: pointer;
                &:hover{
                    background-color: rgb(129, 127, 124);
                  
                }
            }
        }
       height: 100vh;
       overflow-y: scroll;
       padding: 0;
      
    }
}